@font-face {
  font-family: 'PragmaticaExtended-ExtraBold';
  src: local('PragmaticaExtended-ExtraBold'), url('./fonts/PragmaticaExtended-ExtraBold.ttf') format('truetype');
}

html {
  font-size: 8px;
  touch-action: none;
  background-color: var(--dark-grey);
  background-image: url("./img/bg.png");
  background-position: center;
  background-size: cover;
}

body {
  touch-action: none;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  color: var(--white);
  max-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #e9a20a;
  --black: #000;
  --white: #f6f7f8;
  --trim: #cfd8d1;
  --grey: #9f9f9f;
  --dark-grey: #454545;
  --move-primary: #BCD530;
  --move-secondary: #12DDB6;
  --red: #FF4136;
  --yellow: #FFDC00;
  --green: #2ECC40;
  --blue: #0074D9;
  --orange: #FF851B;
}